Repository osism/openstack-ironic-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

openstack-ironic-images-build-burnin:
  parent: abstract-openstack-ironic-images-build
  vars:
    dib_element: burnin
    image_format: raw

openstack-ironic-images-publish-burnin:
  parent: abstract-openstack-ironic-images-publish
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-burnin
  vars:
    dib_element: burnin
    image_format: raw
  secrets:
  - name: minio
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
    pass-to-parent: true

openstack-ironic-images-build-metalbox:
  parent: abstract-openstack-ironic-images-build
  vars:
    dib_element: metalbox
    image_format: raw

openstack-ironic-images-publish-metalbox:
  parent: abstract-openstack-ironic-images-publish
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-metalbox
  vars:
    dib_element: metalbox
    image_format: raw
  secrets:
  - name: minio
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
    pass-to-parent: true

openstack-ironic-images-build-osism-ironic:
  parent: base-extra-logs
  nodeset:
    nodes:
    - label: ubuntu-noble-uefi
      name: noble
  pre-run: playbooks/pre.yml
  run: playbooks/builder.yml
  vars:
    upload_image: false

openstack-ironic-images-publish-osism:
  parent: abstract-openstack-ironic-images-publish
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-osism
  secrets:
  - name: minio
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
    pass-to-parent: true

Fix osism-esp image
  elements/osism-esp/block-device-default.yaml
  elements/osism-esp/root.d/10-efi-programs
Due: none

Fix osism-esp image (#137)
  elements/osism-esp/block-device-default.yaml
  elements/osism-esp/root.d/10-efi-programs
Due: none

Add IPA OOB Variant
  elements/osism-ipa/static/opt/osism/templates/osism-netplan.yaml.j2
  elements/osism-ipa/static/usr/local/sbin/osism-ipa-configure
Due: none

Update packages before copying in ESP Image
  elements/osism-esp/root.d/10-efi-programs
Due: none

Completely rewrite osism-esp build
  elements/osism-esp/block-device-default.yaml
  elements/osism-esp/cleanup.d/50-extract-esp
  elements/osism-esp/cleanup.d/90-cleanup
  elements/osism-esp/element-deps
  elements/osism-esp/element-provides
  elements/osism-esp/environment.d/10-distro-name
  elements/osism-esp/environment.d/20-destination
  elements/osism-esp/finalise.d/50-build-esp
  elements/osism-esp/package-installs.yaml
  elements/osism-esp/root.d/10-efi-programs
  elements/osism-esp/root.d/20-workarounds
  files/osism-esp.yml
Due: none

Add Variant by cmdline, add onboard interface guessing
  elements/osism-ipa/static/opt/osism/templates/osism-netplan.yaml.j2
  elements/osism-ipa/static/usr/local/sbin/osism-ipa-configure
Due: none

Fix Sorting
  elements/osism-ipa/static/usr/local/sbin/osism-ipa-configure
Due: none

Define missing semaphore for osism-esp publish
  .zuul.yaml
Due: none

Output checksums for osism-esp
  elements/osism-esp/cleanup.d/50-extract-esp
Due: none

Enable serial console for osism-node element
  elements/osism-node/element-deps
Due: none

metalbox: use remote repositories during buildtime
  elements/metalbox/install.d/40-install
  elements/metalbox/static/root/osism.sources
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

osism-node: install smartmontools
  elements/osism-node/package-installs.yaml
Due: none

osism-node: install smartmontools (#145)
  elements/osism-node/package-installs.yaml
Due: none

osism-node: remove all repositories
  elements/osism-node/finalise.d/60-grub
  elements/osism-node/install.d/40-ansible-install
Due: none

osism-node: remove all repositories (#146)
  elements/osism-node/finalise.d/60-grub
  elements/osism-node/install.d/40-ansible-install
Due: none

Disable ansibie-init service after the first run
  elements/ansible-init/init-scripts/systemd/ansible-init.service
Due: openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

USe systemd for configuration
  elements/ansible-init/init-scripts/systemd/ansible-init.service
  elements/ansible-init/init-scripts/systemd/osism-configdrive.mount
Due: openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Disable ansibie-init service after the first run (#147)
  elements/ansible-init/init-scripts/systemd/ansible-init.service
Due: openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Remove multipath-tools from metalbox and osism-node image
  .zuul.yaml
  elements/metalbox/static/root/part1.yml
  elements/osism-node/static/root/part1.yml
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

Remove multipath-tools from metalbox and osism-node image (#149)
  .zuul.yaml
  elements/metalbox/static/root/part1.yml
  elements/osism-node/static/root/part1.yml
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

Format elements/osism-ipa/static/usr/local/sbin/osism-ipa-configure
  elements/osism-ipa/static/usr/local/sbin/osism-ipa-configure
Due: none

Add IPA OOB Variant (#138)
  elements/osism-ipa/static/opt/osism/templates/osism-netplan.yaml.j2
  elements/osism-ipa/static/usr/local/sbin/osism-ipa-configure
Due: none

Build VyOS
  .zuul.yaml
  elements/vyos/README.rst
  elements/vyos/cleanup.d/10-umount-overlay
  elements/vyos/cleanup.d/20-dib-workarounds
  elements/vyos/cleanup.d/30-persistence-config
  elements/vyos/element-deps
  elements/vyos/element-provides
  elements/vyos/environment.d/10-defaults
  elements/vyos/environment.d/20-dib
  elements/vyos/finalise.d/10-install-grub
  elements/vyos/post-root.d/90-umount-overlay
  elements/vyos/pre-finalise.d/10-mount-overlay
  elements/vyos/root.d/10-cache-vyos-iso
  elements/vyos/root.d/20-dib-workarounds
  elements/vyos/root.d/90-mount-overlay
  elements/vyos/static/opt/vyatta/etc/config/.vyatta_conf
  elements/vyos/static/opt/vyatta/etc/config/config.boot
  elements/vyos/static/vyos_unattended_installer.py
  files/osism-vyos.yml
  playbooks/pre.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Build VyOS (#150)
  .zuul.yaml
  elements/vyos/README.rst
  elements/vyos/cleanup.d/10-umount-overlay
  elements/vyos/cleanup.d/20-dib-workarounds
  elements/vyos/cleanup.d/30-persistence-config
  elements/vyos/element-deps
  elements/vyos/element-provides
  elements/vyos/environment.d/10-defaults
  elements/vyos/environment.d/20-dib
  elements/vyos/finalise.d/10-install-grub
  elements/vyos/post-root.d/90-umount-overlay
  elements/vyos/pre-finalise.d/10-mount-overlay
  elements/vyos/root.d/10-cache-vyos-iso
  elements/vyos/root.d/20-dib-workarounds
  elements/vyos/root.d/90-mount-overlay
  elements/vyos/static/opt/vyatta/etc/config/.vyatta_conf
  elements/vyos/static/opt/vyatta/etc/config/config.boot
  elements/vyos/static/vyos_unattended_installer.py
  files/osism-vyos.yml
  playbooks/pre.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Fix osism-vyos publish
  .zuul.yaml
Due: none

Fix osism-vyos publish (#151)
  .zuul.yaml
Due: none

zuul: upload images to hetzner
  .zuul.yaml
  elements/metalbox/install.d/40-install
  playbooks/build.yml
  playbooks/builder.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Clean APT sources in metalbox image
  elements/metalbox/finalise.d/70-apt-sources
  elements/osism-node/finalise.d/60-grub
  elements/osism-node/finalise.d/70-apt-sources
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

zuul: upload images to hetzner (#152)
  .zuul.yaml
  elements/metalbox/install.d/40-install
  playbooks/build.yml
  playbooks/builder.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Clean APT sources in metalbox image (#153)
  elements/metalbox/finalise.d/70-apt-sources
  elements/osism-node/finalise.d/60-grub
  elements/osism-node/finalise.d/70-apt-sources
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

metalbox: registry runs on port 5001 now
  elements/metalbox/static/usr/local/bin/run.sh
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

zuul: rebuild the metalbox image every day
  .zuul.yaml
  playbooks/build.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

zuul: rebuild the metalbox image every day (#155)
  .zuul.yaml
  playbooks/build.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

metalbox: add more packages
  elements/metalbox/static/root/part1.yml
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

Path conditions:
  openstack-ironic-images-build-burnin: any of: ^elements/burnin/.*, ^files/burnin.sh, ^files/burnin/.*, ^playbooks/.*
  openstack-ironic-images-publish-burnin: any of: ^elements/burnin/.*, ^files/burnin.sh, ^files/burnin/.*, ^playbooks/.*
  openstack-ironic-images-build-metalbox: any of: ^elements/metalbox/.*, ^files/metalbox.sh, ^files/metalbox/.*, ^playbooks/.*
  openstack-ironic-images-publish-metalbox: any of: ^elements/metalbox/.*, ^files/metalbox.sh, ^files/metalbox/.*, ^playbooks/.*
  openstack-ironic-images-build-osism-ironic: any of: ^elements/ansible-init/.*, ^elements/block-device-osism-efi/.*, ^elements/install-ansible/.*, ^files/osism-ironic.yml$, ^playbooks/.*
  openstack-ironic-images-publish-osism: any of: ^elements/ansible-init/.*, ^elements/block-device-osism-efi/.*, ^elements/install-ansible/.*, ^files/osism-ironic.yml$, ^playbooks/.*
