Repository osism/openstack-ironic-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

openstack-ironic-images-build-burnin:
  parent: abstract-openstack-ironic-images-build
  vars:
    dib_element: burnin
    image_format: raw

openstack-ironic-images-publish-burnin:
  parent: abstract-openstack-ironic-images-publish
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-burnin
  vars:
    dib_element: burnin
    image_format: raw
  secrets:
  - name: s3
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
    pass-to-parent: true

openstack-ironic-images-build-metalbox:
  parent: abstract-openstack-ironic-images-build
  vars:
    dib_element: metalbox
    image_format: raw

openstack-ironic-images-publish-metalbox:
  parent: abstract-openstack-ironic-images-publish
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-metalbox
  vars:
    dib_element: metalbox
    image_format: raw
  secrets:
  - name: s3
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
    pass-to-parent: true

openstack-ironic-images-build-osism-ipa:
  parent: base-extra-logs
  nodeset:
    nodes:
    - label: ubuntu-noble-uefi
      name: noble
  pre-run: playbooks/pre.yml
  run: playbooks/builder.yml
  vars:
    build_name: osism-ipa
    upload_image: false

openstack-ironic-images-publish-osism-ipa:
  parent: openstack-ironic-images-build-osism-ipa
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-osism-ipa
  vars:
    build_name: osism-ipa
    image_format: initramfs
    upload_image: true
  secrets:
  - name: s3
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
    pass-to-parent: true

openstack-ironic-images-build-osism-ipa-stable:
  parent: base-extra-logs
  nodeset:
    nodes:
    - label: ubuntu-noble-uefi
      name: noble
  pre-run: playbooks/pre.yml
  run: playbooks/builder.yml
  vars:
    build_name: osism-ipa-stable
    upload_image: false

openstack-ironic-images-publish-osism-ipa-stable:
  parent: openstack-ironic-images-build-osism-ipa-stable
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-osism-ipa-stable
  vars:
    build_name: osism-ipa-stable
    image_format: initramfs
    upload_image: true
  secrets:
  - name: s3
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
  ...

openstack-ironic-images-build-osism-node:
  parent: base-extra-logs
  nodeset:
    nodes:
    - label: ubuntu-noble-uefi
      name: noble
  pre-run: playbooks/pre.yml
  run: playbooks/builder.yml
  vars:
    build_name: osism-node
    upload_image: false

openstack-ironic-images-publish-osism-node:
  parent: openstack-ironic-images-build-osism-node
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-osism-node
  vars:
    build_name: osism-node
    upload_image: true
  secrets:
  - name: s3
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
    pass-to-parent: true

openstack-ironic-images-build-osism-esp:
  parent: base-extra-logs
  nodeset:
    nodes:
    - label: ubuntu-noble-uefi
      name: noble
  pre-run: playbooks/pre.yml
  run: playbooks/builder.yml
  vars:
    build_name: osism-esp
    image_format: raw
    upload_image: false

Add ethtool to osism-ipa image
  elements/osism-ipa/package-installs.yaml
Due: openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable

metalbox: admit ConfigDrive as a datasource
  elements/metalbox/environment.d/50-metalbox
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

metalbox: admit ConfigDrive as a datasource (#219)
  elements/metalbox/environment.d/50-metalbox
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

osism-ipa: report why the metalbox gate fails
  elements/osism-ipa/static/usr/local/sbin/osism-ipa-configure
Due: openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable

osism-ipa: show config output on the console
  elements/osism-ipa/init-scripts/systemd/osism-ipa-config.service
Due: openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable

metalbox: retry a failed HEAD and record why
  playbooks/build.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

playbooks: stop hiding rclone output
  playbooks/build.yml
  playbooks/builder.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

playbooks: write the image's .CHECKSUM file
  playbooks/build.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

Path conditions:
  openstack-ironic-images-build-burnin: any of: ^elements/burnin/.*, ^files/burnin.sh, ^files/burnin/.*, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-publish-burnin: any of: ^elements/burnin/.*, ^files/burnin.sh, ^files/burnin/.*, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-build-metalbox: any of: ^elements/metalbox/.*, ^files/metalbox.sh, ^files/metalbox/.*, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-publish-metalbox: any of: ^elements/metalbox/.*, ^files/metalbox.sh, ^files/metalbox/.*, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-build-osism-ipa: any of: ^elements/install-ansible/.*, ^elements/osism-ipa/.*, ^files/osism-ipa.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-publish-osism-ipa: any of: ^elements/install-ansible/.*, ^elements/osism-ipa/.*, ^files/osism-ipa.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-build-osism-ipa-stable: any of: ^elements/install-ansible/.*, ^elements/osism-ipa/.*, ^files/osism-ipa-stable.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-publish-osism-ipa-stable: any of: ^elements/install-ansible/.*, ^elements/osism-ipa/.*, ^files/osism-ipa-stable.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-build-osism-node: any of: ^elements/ansible-init/.*, ^elements/block-device-osism-efi/.*, ^elements/install-ansible/.*, ^elements/osism-node/.*, ^files/osism-node.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-publish-osism-node: any of: ^elements/ansible-init/.*, ^elements/block-device-osism-efi/.*, ^elements/install-ansible/.*, ^elements/osism-node/.*, ^files/osism-node.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-build-osism-esp: any of: ^elements/osism-esp/.*, ^files/osism-esp.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-publish-osism-esp: any of: ^elements/osism-esp/.*, ^files/osism-esp.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-build-osism-vyos: any of: ^elements/block-device-osism-efi/.*, ^elements/osism-vyos/.*, ^files/osism-vyos.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-publish-osism-vyos: any of: ^elements/block-device-osism-efi/.*, ^elements/osism-vyos/.*, ^files/osism-vyos.yml$, ^playbooks/.*, ^requirements.txt
