Repository osism/openstack-ironic-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

openstack-ironic-images-build-burnin:
  parent: abstract-openstack-ironic-images-build
  vars:
    dib_element: burnin
    image_format: raw

openstack-ironic-images-publish-burnin:
  parent: abstract-openstack-ironic-images-publish
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-burnin
  vars:
    dib_element: burnin
    image_format: raw
  secrets:
  - name: s3
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
    pass-to-parent: true

openstack-ironic-images-build-metalbox:
  parent: abstract-openstack-ironic-images-build
  vars:
    dib_element: metalbox
    image_format: raw

openstack-ironic-images-publish-metalbox:
  parent: abstract-openstack-ironic-images-publish
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-metalbox
  vars:
    dib_element: metalbox
    image_format: raw
  secrets:
  - name: s3
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
    pass-to-parent: true

openstack-ironic-images-build-osism-ipa:
  parent: base-extra-logs
  nodeset:
    nodes:
    - label: ubuntu-noble-uefi
      name: noble
  pre-run: playbooks/pre.yml
  run: playbooks/builder.yml
  vars:
    build_name: osism-ipa
    upload_image: false

openstack-ironic-images-publish-osism-ipa:
  parent: openstack-ironic-images-build-osism-ipa
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-osism-ipa
  vars:
    build_name: osism-ipa
    image_format: initramfs
    upload_image: true
  secrets:
  - name: s3
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
    pass-to-parent: true

openstack-ironic-images-build-osism-ipa-stable:
  parent: base-extra-logs
  nodeset:
    nodes:
    - label: ubuntu-noble-uefi
      name: noble
  pre-run: playbooks/pre.yml
  run: playbooks/builder.yml
  vars:
    build_name: osism-ipa-stable
    upload_image: false

openstack-ironic-images-publish-osism-ipa-stable:
  parent: openstack-ironic-images-build-osism-ipa-stable
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-osism-ipa-stable
  vars:
    build_name: osism-ipa-stable
    image_format: initramfs
    upload_image: true
  secrets:
  - name: s3
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
  ...

openstack-ironic-images-build-osism-node:
  parent: base-extra-logs
  nodeset:
    nodes:
    - label: ubuntu-noble-uefi
      name: noble
  pre-run: playbooks/pre.yml
  run: playbooks/builder.yml
  vars:
    build_name: osism-node
    upload_image: false

openstack-ironic-images-publish-osism-node:
  parent: openstack-ironic-images-build-osism-node
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-osism-node
  vars:
    build_name: osism-node
    upload_image: true
  secrets:
  - name: s3
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
    pass-to-parent: true

openstack-ironic-images-build-osism-esp:
  parent: base-extra-logs
  nodeset:
    nodes:
    - label: ubuntu-noble-uefi
      name: noble
  pre-run: playbooks/pre.yml
  run: playbooks/builder.yml
  vars:
    build_name: osism-esp
    image_format: raw
    upload_image: false

osism-node: blacklist bnxt_re kernel module
  elements/osism-node/static/etc/modprobe.d/blacklist-bnxt-re.conf
Due: openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node

osism-node: blacklist bnxt_re kernel module (#194)
  elements/osism-node/static/etc/modprobe.d/blacklist-bnxt-re.conf
Due: openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node

osism-node: fix play name in part1.yml
  elements/osism-node/static/root/part1.yml
Due: openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node

osism-node: fix play name in part1.yml (#195)
  elements/osism-node/static/root/part1.yml
Due: openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node

osism-ipa: pin repo refs to stable/2024.2 branch
  files/osism-ipa-stable.yml
Due: openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable

osism-ipa: pin repo refs to stable/2024.2 branch (#196)
  files/osism-ipa-stable.yml
Due: openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable

Revert "osism-ipa: pin repo refs to stable/2024.2 branch (#196)"
  files/osism-ipa-stable.yml
Due: openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable

Revert "osism-ipa: pin repo refs to stable/2024.2 branch (#196)" (#197)
  files/osism-ipa-stable.yml
Due: openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable

Fix rclone S3 configuration for Ceph provider
  .zuul.yaml
  playbooks/build.yml
  playbooks/builder.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

Fix rclone S3 configuration for Ceph provider (#198)
  .zuul.yaml
  playbooks/build.yml
  playbooks/builder.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

metalbox: version CI jobs for 2024.2 and 2025.1
  .zuul.yaml
  playbooks/build.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

metalbox: use versioned registry archive filename (registry-2025.1-full.tar.bz2)
  elements/metalbox/environment.d/50-metalbox
  elements/metalbox/install.d/40-install
  files/metalbox.sh
  playbooks/build.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

metalbox: use versioned registry archive filename (registry-2025.1-full.tar.bz2) (#200)
  elements/metalbox/environment.d/50-metalbox
  elements/metalbox/install.d/40-install
  files/metalbox.sh
  playbooks/build.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

metalbox: log disk usage during build
  elements/metalbox/install.d/40-install
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

metalbox: revert versioned registry archive filename
  elements/metalbox/environment.d/50-metalbox
  elements/metalbox/install.d/40-install
  files/metalbox.sh
  playbooks/build.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

metalbox: log disk usage during build (#201)
  elements/metalbox/install.d/40-install
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

metalbox: revert versioned registry archive filename (#202)
  elements/metalbox/environment.d/50-metalbox
  elements/metalbox/install.d/40-install
  files/metalbox.sh
  playbooks/build.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

metalbox: log image catalog from registry.tar.bz2 during build
  elements/metalbox/install.d/40-install
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

metalbox: log image catalog from registry.tar.bz2 during build (#203)
  elements/metalbox/install.d/40-install
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

metalbox: add retry to tarball download
  elements/metalbox/install.d/40-install
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

Explicitly label ESP filesystem
  elements/block-device-osism-efi/block-device-default.yaml
Due: openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

metalbox: make DNS warmup ping non-fatal
  elements/metalbox/install.d/40-install
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

Use diskimage-builder 3.41.0
  requirements.txt
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

Use diskimage-builder 3.41.0 (#207)
  requirements.txt
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

metalbox: make IPA tarball downloads non-fatal
  elements/metalbox/install.d/40-install
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

metalbox: remove IPA image download
  elements/metalbox/environment.d/50-metalbox
  elements/metalbox/install.d/40-install
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

metalbox: remove IPA image download (#210)
  elements/metalbox/environment.d/50-metalbox
  elements/metalbox/install.d/40-install
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

Release IPA stable build as osism-ipa
  .zuul.yaml
  files/osism-ipa-latest.yml
  files/osism-ipa.yml
Due: openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa

Fix grub error on software RAID
  elements/osism-node/finalise.d/60-grub
Due: openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node

Fix project-board automation for fork PRs
  .github/workflows/add-to-project.yml
Due: none

metalbox: retry corrupt registry.tar.bz2 download
  elements/metalbox/install.d/40-install
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

Path conditions:
  openstack-ironic-images-build-burnin: any of: ^elements/burnin/.*, ^files/burnin.sh, ^files/burnin/.*, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-publish-burnin: any of: ^elements/burnin/.*, ^files/burnin.sh, ^files/burnin/.*, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-build-metalbox: any of: ^elements/metalbox/.*, ^files/metalbox.sh, ^files/metalbox/.*, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-publish-metalbox: any of: ^elements/metalbox/.*, ^files/metalbox.sh, ^files/metalbox/.*, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-build-osism-ipa: any of: ^elements/install-ansible/.*, ^elements/osism-ipa/.*, ^files/osism-ipa.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-publish-osism-ipa: any of: ^elements/install-ansible/.*, ^elements/osism-ipa/.*, ^files/osism-ipa.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-build-osism-ipa-stable: any of: ^elements/install-ansible/.*, ^elements/osism-ipa/.*, ^files/osism-ipa-stable.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-publish-osism-ipa-stable: any of: ^elements/install-ansible/.*, ^elements/osism-ipa/.*, ^files/osism-ipa-stable.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-build-osism-node: any of: ^elements/ansible-init/.*, ^elements/block-device-osism-efi/.*, ^elements/install-ansible/.*, ^elements/osism-node/.*, ^files/osism-node.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-publish-osism-node: any of: ^elements/ansible-init/.*, ^elements/block-device-osism-efi/.*, ^elements/install-ansible/.*, ^elements/osism-node/.*, ^files/osism-node.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-build-osism-esp: any of: ^elements/osism-esp/.*, ^files/osism-esp.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-publish-osism-esp: any of: ^elements/osism-esp/.*, ^files/osism-esp.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-build-osism-vyos: any of: ^elements/block-device-osism-efi/.*, ^elements/osism-vyos/.*, ^files/osism-vyos.yml$, ^playbooks/.*, ^requirements.txt
  openstack-ironic-images-publish-osism-vyos: any of: ^elements/block-device-osism-efi/.*, ^elements/osism-vyos/.*, ^files/osism-vyos.yml$, ^playbooks/.*, ^requirements.txt
