Repository osism/openstack-ironic-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

openstack-ironic-images-build-burnin:
  parent: abstract-openstack-ironic-images-build
  vars:
    dib_element: burnin
    image_format: raw

openstack-ironic-images-publish-burnin:
  parent: abstract-openstack-ironic-images-publish
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-burnin
  vars:
    dib_element: burnin
    image_format: raw
  secrets:
  - name: minio
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
    pass-to-parent: true

openstack-ironic-images-build-metalbox:
  parent: abstract-openstack-ironic-images-build
  vars:
    dib_element: metalbox
    image_format: raw

openstack-ironic-images-publish-metalbox:
  parent: abstract-openstack-ironic-images-publish
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-metalbox
  vars:
    dib_element: metalbox
    image_format: raw
  secrets:
  - name: minio
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
    pass-to-parent: true

openstack-ironic-images-build-osism-ironic:
  parent: base-extra-logs
  nodeset:
    nodes:
    - label: ubuntu-noble-uefi
      name: noble
  pre-run: playbooks/pre.yml
  run: playbooks/builder.yml
  vars:
    upload_image: false

openstack-ironic-images-publish-osism:
  parent: abstract-openstack-ironic-images-publish
  semaphores:
  - name: semaphore-openstack-ironic-images-publish-osism
  secrets:
  - name: minio
    secret: SECRET_OPENSTACK_IRONIC_IMAGES
    pass-to-parent: true

Add zuul config to build osism-ironic image
  .zuul.yaml
  files/dragon-ssh-key.pub
  files/osism-ironic.yml
  playbooks/builder.yml
  playbooks/pre.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Fix yamllint issues
  .zuul.yaml
  elements/ansible-init/package-installs.yaml
  elements/block-device-osism-efi/block-device-default.yaml
  elements/install-ansible/package-installs.yaml
  files/osism-ironic.yml
Due: openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Split out install-ansible element from metalbox
  elements/install-ansible/README.rst
  elements/install-ansible/install.d/30-install
  elements/metalbox/element-deps
  elements/metalbox/install.d/40-install
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Create osism-node element
  .zuul.yaml
  elements/ansible-init/README.rst
  elements/ansible-init/package-installs.yaml
  elements/osism-node/README.rst
  elements/osism-node/element-deps
  elements/osism-node/element-provides
  elements/osism-node/finalise.d/60-grub
  elements/osism-node/install.d/40-ansible-install
  elements/osism-node/package-installs.yaml
  elements/osism-node/static/root/part1.yml
  files/osism-node.yml
  playbooks/builder.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Create osism-node element (#97)
  .zuul.yaml
  elements/ansible-init/README.rst
  elements/ansible-init/package-installs.yaml
  elements/osism-node/README.rst
  elements/osism-node/element-deps
  elements/osism-node/element-provides
  elements/osism-node/finalise.d/60-grub
  elements/osism-node/install.d/40-ansible-install
  elements/osism-node/package-installs.yaml
  elements/osism-node/static/root/part1.yml
  files/osism-node.yml
  playbooks/builder.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

osism-node: fix upload
  .zuul.yaml
Due: none

osism-node: fix upload (#98)
  .zuul.yaml
Due: none

Fix osism-node upload job
  .zuul.yaml
Due: none

Fix osism-node upload job (#99)
  .zuul.yaml
Due: none

Fix element-deps for osism-node
  elements/osism-node/element-deps
Due: none

Add osism-ipa element
  elements/osism-ipa/README.rst
  elements/osism-ipa/element-deps
  elements/osism-ipa/element-provides
  elements/osism-ipa/init-scripts/systemd/osism-ipa-config.service
  elements/osism-ipa/install.d/31-install
  elements/osism-ipa/install.d/50-config-osism
  elements/osism-ipa/package-installs.yaml
  elements/osism-ipa/post-install.d/80-osism
  elements/osism-ipa/pre-install.d/02-osism-00-set-profile
  elements/osism-ipa/static/etc/frr/daemons
  elements/osism-ipa/static/opt/osism/templates/frr.conf.j2
  elements/osism-ipa/static/opt/osism/templates/osism-netplan.yaml.j2
  elements/osism-ipa/static/usr/local/sbin/osism-ipa-configure
Due: none

Add osism-ipa jobs
  .zuul.yaml
  elements/osism-ipa/package-installs.yaml
  files/osism-ipa.yml
  playbooks/builder.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Fix osism-ipa uploads
  playbooks/builder.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Fix osism-ipa uploads
  .zuul.yaml
Due: none

metalbox: add static metalbox hosts entry
  elements/metalbox/static/root/part1.yml
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

metalbox: add static metalbox hosts entry (#105)
  elements/metalbox/static/root/part1.yml
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

Add static metalbox IPv6 to IPA hosts
  elements/osism-ipa/static/etc/hosts
Due: none

Update osism-ipa IPv6 prefix
  elements/osism-ipa/static/usr/local/sbin/osism-ipa-configure
Due: none

Use stable/2025.1 for osism-ipa build
  files/osism-ipa.yml
Due: none

Install bootloader to $EFI_BOOT_DIR in node image
  elements/osism-node/finalise.d/60-grub
Due: none

Add osism-ipa-stable build
  .zuul.yaml
  files/osism-ipa-stable.yml
Due: none

Add osism-ipa-stable build (#110)
  .zuul.yaml
  files/osism-ipa-stable.yml
Due: none

Add osism-ipa-stable jobs to the project
  .zuul.yaml
  playbooks/builder.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Remove timeout from oneshot systemd units
  elements/ansible-init/init-scripts/systemd/ansible-init.service
  elements/osism-ipa/init-scripts/systemd/osism-ipa-config.service
Due: openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Remove timeout from oneshot systemd units (#112)
  elements/ansible-init/init-scripts/systemd/ansible-init.service
  elements/osism-ipa/init-scripts/systemd/osism-ipa-config.service
Due: openstack-ironic-images-build-osism-ironic, openstack-ironic-images-publish-osism

Do not install HWE kernel in osism-node image
  elements/osism-node/static/root/part1.yml
Due: none

Do not install HWE kernel in metalbox image
  elements/metalbox/static/root/part1.yml
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

Path conditions:
  openstack-ironic-images-build-burnin: any of: ^elements/burnin/.*, ^files/burnin.sh, ^files/burnin/.*, ^playbooks/.*
  openstack-ironic-images-publish-burnin: any of: ^elements/burnin/.*, ^files/burnin.sh, ^files/burnin/.*, ^playbooks/.*
  openstack-ironic-images-build-metalbox: any of: ^elements/metalbox/.*, ^files/metalbox.sh, ^files/metalbox/.*, ^playbooks/.*
  openstack-ironic-images-publish-metalbox: any of: ^elements/metalbox/.*, ^files/metalbox.sh, ^files/metalbox/.*, ^playbooks/.*
  openstack-ironic-images-build-osism-ironic: any of: ^elements/ansible-init/.*, ^elements/block-device-osism-efi/.*, ^elements/install-ansible/.*, ^files/osism-ironic.yml$, ^playbooks/.*
  openstack-ironic-images-publish-osism: any of: ^elements/ansible-init/.*, ^elements/block-device-osism-efi/.*, ^elements/install-ansible/.*, ^files/osism-ironic.yml$, ^playbooks/.*
