Repository osism/openstack-ironic-images: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

Path conditions:
  openstack-ironic-images-build-burnin: any of: ^elements/burnin/.*, ^files/burnin.sh, ^files/burnin/.*, ^playbooks/.*
  openstack-ironic-images-publish-burnin: any of: ^elements/burnin/.*, ^files/burnin.sh, ^files/burnin/.*, ^playbooks/.*
  openstack-ironic-images-build-metalbox: any of: ^elements/metalbox/.*, ^files/metalbox.sh, ^files/metalbox/.*, ^playbooks/.*
  openstack-ironic-images-publish-metalbox: any of: ^elements/metalbox/.*, ^files/metalbox.sh, ^files/metalbox/.*, ^playbooks/.*
  openstack-ironic-images-build-osism-ipa: any of: ^elements/install-ansible/.*, ^elements/osism-ipa/.*, ^files/osism-ipa.yml$, ^playbooks/.*
  openstack-ironic-images-publish-osism-ipa: any of: ^elements/install-ansible/.*, ^elements/osism-ipa/.*, ^files/osism-ipa.yml$, ^playbooks/.*
  openstack-ironic-images-build-osism-ipa-stable: any of: ^elements/install-ansible/.*, ^elements/osism-ipa/.*, ^files/osism-ipa-stable.yml$, ^playbooks/.*
  openstack-ironic-images-publish-osism-ipa-stable: any of: ^elements/install-ansible/.*, ^elements/osism-ipa/.*, ^files/osism-ipa-stable.yml$, ^playbooks/.*
  openstack-ironic-images-build-osism-node: any of: ^elements/ansible-init/.*, ^elements/block-device-osism-efi/.*, ^elements/install-ansible/.*, ^elements/osism-node/.*, ^files/osism-node.yml$, ^playbooks/.*
  openstack-ironic-images-publish-osism-node: any of: ^elements/ansible-init/.*, ^elements/block-device-osism-efi/.*, ^elements/install-ansible/.*, ^elements/osism-node/.*, ^files/osism-node.yml$, ^playbooks/.*
  openstack-ironic-images-build-osism-esp: any of: ^elements/osism-esp/.*, ^files/osism-esp.yml$, ^playbooks/.*
  openstack-ironic-images-publish-osism-esp: any of: ^elements/osism-esp/.*, ^files/osism-esp.yml$, ^playbooks/.*
  openstack-ironic-images-build-osism-vyos: any of: ^elements/block-device-osism-efi/.*, ^elements/osism-vyos/.*, ^files/osism-vyos.yml$, ^playbooks/.*
  openstack-ironic-images-publish-osism-vyos: any of: ^elements/block-device-osism-efi/.*, ^elements/osism-vyos/.*, ^files/osism-vyos.yml$, ^playbooks/.*

Add additional utility packages for diagnostics and testing
  elements/metalbox/static/root/part1.yml
  elements/osism-node/static/root/part1.yml
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node

metalbox: remove loopback0 device
  elements/metalbox/static/root/part2.yml
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

metalbox: Let registry listen on all addresses
  elements/metalbox/static/usr/local/bin/run.sh
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

osism-ipa: add metalbox.osism.xyz to /etc/hosts
  elements/osism-ipa/static/etc/hosts
Due: openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable

osism-ipa: add metalbox.osism.xyz to /etc/hosts (#160)
  elements/osism-ipa/static/etc/hosts
Due: openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable

Revert "Enable serial console for osism-node element"
  elements/osism-node/element-deps
Due: openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node

Enable serial console for IPA and node images
  files/osism-ipa-stable.yml
  files/osism-ipa.yml
  files/osism-node.yml
Due: openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node

metalbox: use ansible 2.19
  elements/metalbox/install.d/40-install
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

metalbox: use ansible 2.19 (#162)
  elements/metalbox/install.d/40-install
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

zuul: set timeout of 7200 seconds
  .zuul.yaml
Due: none

zuul: set timeout of 7200 seconds (#163)
  .zuul.yaml
Due: none

zuul: add periodic-weekly jobs for image publishing
  .zuul.yaml
Due: none

Add nfs client to metalbox image
  elements/metalbox/static/root/part1.yml
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

Add nfs client to metalbox image (#165)
  elements/metalbox/static/root/part1.yml
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

Add snmp pkg to metalbox
  elements/metalbox/static/root/part1.yml
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

Add snmp pkg to metalbox (#166)
  elements/metalbox/static/root/part1.yml
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

metalbox: Remove GRUB cloudimg-settings.cfg
  elements/metalbox/finalise.d/60-grub
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox

Use HWE kernel in node and metalbox images again
  elements/metalbox/static/root/part1.yml
  elements/osism-node/static/root/part1.yml
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node

Pin setuptools<82.0.0
  .zuul.yaml
  requirements.txt
Due: none

Revert "Pin setuptools<82.0.0"
  requirements.txt
Due: none

Revert "Pin setuptools<82.0.0" (#170)
  requirements.txt
Due: none

Use HWE kernel in node and metalbox images again (#168)
  elements/metalbox/static/root/part1.yml
  elements/osism-node/static/root/part1.yml
Due: openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node

Use rclone instead of mc for S3 uploads
  .zuul.yaml
  playbooks/build.yml
  playbooks/builder.yml
  playbooks/pre.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

Use rclone instead of mc for S3 uploads (#171)
  .zuul.yaml
  playbooks/build.yml
  playbooks/builder.yml
  playbooks/pre.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

Fix public access for rclone S3 uploads
  playbooks/build.yml
  playbooks/builder.yml
Due: openstack-ironic-images-build-burnin, openstack-ironic-images-publish-burnin, openstack-ironic-images-build-metalbox, openstack-ironic-images-publish-metalbox, openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable, openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node, openstack-ironic-images-build-osism-esp, openstack-ironic-images-publish-osism-esp, openstack-ironic-images-build-osism-vyos, openstack-ironic-images-publish-osism-vyos

osism-node: bump k3s version to v1.34.2+k3s1
  elements/osism-node/static/root/part1.yml
Due: openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node

osism-ipa: add osism-ipa-type parameter to select template directory
  elements/osism-ipa/static/opt/osism/templates/default/frr.conf.j2
  elements/osism-ipa/static/opt/osism/templates/default/netplan.yaml.j2
  elements/osism-ipa/static/usr/local/sbin/osism-ipa-configure
Due: openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable

osism-node: bump k3s version to v1.34.2+k3s1 (#173)
  elements/osism-node/static/root/part1.yml
Due: openstack-ironic-images-build-osism-node, openstack-ironic-images-publish-osism-node

osism-ipa: make ipv4, ipv6 and AS configurable via kernel cmdline
  elements/osism-ipa/static/opt/osism/templates/default/frr.conf.j2
  elements/osism-ipa/static/opt/osism/templates/default/netplan.yaml.j2
  elements/osism-ipa/static/usr/local/sbin/osism-ipa-configure
Due: openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable

osism-ipa: derive default AS from IPv4 address and remove redundant fallback
  elements/osism-ipa/static/usr/local/sbin/osism-ipa-configure
Due: openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable

osism-ipa: support arbitrary osism-XX extra params from kernel cmdline
  elements/osism-ipa/static/usr/local/sbin/osism-ipa-configure
Due: openstack-ironic-images-build-osism-ipa, openstack-ironic-images-publish-osism-ipa, openstack-ironic-images-build-osism-ipa-stable, openstack-ironic-images-publish-osism-ipa-stable
